@{
    ViewData["Title"] = "Política de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
    1. Introdução <br /><br />
    Bem-vindo à nossa aplicação de Gerenciamento de Consumo de Veículo. <br />
    Esta Política de Privacidade descreve como coletamos, usamos, divulgamos<br />
    e protegemos suas informações pessoais quando você usa nossa aplicação. <br />
    Ao utilizar nosso serviço, você concorda com a coleta e o uso de informações de <br />
    acordo com esta política. <br /><br />

    2. Informações que Coletamos <br /><br />

    2.1 Informações Pessoais <br />
    Podemos coletar as seguintes informações pessoais para fornecer e melhorar<br />
    nossos serviços: <br /><br />

    Nome <br />
    Endereço de e-mail <br />
    Número de telefone<br />
    Informações do veículo (marca, modelo, ano, etc.) <br /><br />

    2.2 Informações de Uso <br />
    Coletamos informações sobre como você usa a aplicação, incluindo: <br />
    Dados de consumo de combustível <br />
    Quilometragem percorrida<br />    
    Hábitos de condução<br /><br />

    3. Uso das Informações<br /><br />

    Utilizamos as informações coletadas para os seguintes propósitos:<br />
    Gerenciar e melhorar o desempenho do seu veículo<br />
    Fornecer relatórios de consumo de combustível<br />
    Enviar notificações e lembretes relacionados ao seu veículo<br />
    Personalizar sua experiência na aplicação<br />
    Realizar análises e pesquisas para melhorar nossos serviços<br /><br />

    4. Compartilhamento de Informações<br /><br />

    Não compartilhamos suas informações pessoais com terceiros,<br />
    exceto nas seguintes circunstâncias:<br />
    Com seu consentimento explícito<br />
    Para cumprir obrigações legais ou responder a processos legais<br />
    Para proteger nossos direitos, privacidade, segurança ou propriedade<br />
    Com fornecedores de serviços terceirizados que nos auxiliam a operar <br />
    nossa aplicação (sob contratos de confidencialidade)<br /><br />
    
    5. Segurança das Informações<br /><br />

    Implementamos medidas de segurança adequadas para proteger suas<br />
    informações pessoais contra acesso não autorizado, alteração,<br />
    divulgação ou destruição. No entanto, lembre-se de que nenhum método<br />
    de transmissão pela internet ou método de armazenamento eletrônico é 100% seguro.<br /><br />

    6. Seus Direitos<br /><br />
    Você tem o direito de:<br />
    Acessar e revisar suas informações pessoais que mantemos<br />
    Corrigir quaisquer informações pessoais imprecisas ou incompletas<br />
    Solicitar a exclusão de suas informações pessoais<br />    <br />

    7. Alterações a Esta Política de Privacidade<br /><br />

    Podemos atualizar nossa Política de Privacidade periodicamente.<br />
    Notificaremos você sobre quaisquer alterações publicando a nova <br />
    Política de Privacidade nesta página.<br />
    Recomendamos que você reveja esta política regularmente para se<br />
    manter informado sobre como estamos protegendo suas informações.<br /><br />

    8. Contato<br /><br />

    Se você tiver alguma dúvida sobre esta Política de Privacidade<br />
    ou sobre nossas práticas de privacidade, entre em contato conosco em:<br />
    Endereço de e-mail:<br />
    Telefone:<br /><br />

    9. Consentimento<br /><br />
    Ao utilizar nossa aplicação, você consente com nossa Política de Privacidade<br />
    e concorda com seus termos.<br /><br />

    Esta Política de Privacidade foi atualizada pela última vez em 18/05/2024.<br /><br />

    Agradecemos por confiar na nossa aplicação de Gerenciamento de Consumo de Veículo<br />
    para ajudar você a monitorar e otimizar o consumo do seu veículo.<br />
    Estamos comprometidos em proteger sua privacidade e garantir a segurança de suas informações pessoais.<br />
</p>
